In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import project_env as pe
%matplotlib inline

In [18]:
data_simple = pd.read_csv('data_simple.csv', encoding = "ISO-8859-1", low_memory=False, index_col=0)

In [19]:
numeric = data_simple._get_numeric_data()

In [20]:
numeric.columns

Index(['DFDN_SEQ_NBR', 'SCREENING_DISP_CODE', 'SYS_NBR', 'POLICE_RPT_DATE',
       'POLICE_RPT_DAYS', 'SCREENING_DAYS', 'SCREENING_DISP_DATE',
       'ARREST_DATE', 'ADD_DATE', 'CHARGE_CLASS', 'SADA_BAR_ADMISSION',
       'SADA_DOB', 'DOB'],
      dtype='object')

In [21]:
date_features = ['POLICE_RPT_DATE','ARREST_DATE','ADD_DATE','SADA_DOB','DOB']
print('Before converting to date type:')
pe.getDfSummary(numeric[date_features]).transpose()

Before converting to date type:

,POLICE_RPT_DATE,ARREST_DATE,ADD_DATE,SADA_DOB,DOB
type,int64,float64,float64,float64,int64
mean,1.7128e+07,1.95567e+07,1.99148e+07,1.96058e+07,1.93428e+07
std,6.94695e+06,2.74808e+06,763204,81828.7,2.58012e+06
min,0,0,0,1.90105e+07,0
25%,1.99008e+07,1.99108e+07,1.99111e+07,1.96e+07,1.96101e+07
50%,1.99405e+07,1.9941e+07,1.99501e+07,1.963e+07,1.9701e+07
75%,1.99706e+07,1.99707e+07,1.9971e+07,1.966e+07,1.97708e+07
max,1.99911e+07,1.99911e+07,1.99911e+07,1.974e+07,1.99909e+07
number_distinct,3770,4259,3306,64,19779
valid_count,280294,150979,150979,243862,280294
number_nan,0,129315,129315,36432,0

In [22]:
#convert dates to python dates
date_features = ['POLICE_RPT_DATE','ARREST_DATE','ADD_DATE','SADA_DOB','DOB','SCREENING_DISP_DATE','SADA_BAR_ADMISSION']

for feature in date_features:
    numeric[feature] = pe.to_date(numeric[feature])

In [27]:

print('After converting to date type:')
pe.getDfSummary(numeric[date_features]).transpose().drop('number_distinct').transpose()

After converting to date type:

/Users/Lisa/anaconda3/lib/python3.5/site-packages/pandas/core/groupby.py:2937: FutureWarning: In the future, NAT != NAT will be True rather than False.
  inc = np.r_[1, val[1:] != val[:-1]]

,type,unique,top,freq,first,last,valid_count,number_nan
POLICE_RPT_DATE,datetime64[ns],3768,1996-02-23 00:00:00,395,1967-03-14 00:00:00,1999-11-16 00:00:00,240698,39596
ARREST_DATE,datetime64[ns],4258,1996-02-08 00:00:00,386,1901-07-15 00:00:00,1999-11-15 00:00:00,148056,132238
ADD_DATE,datetime64[ns],3305,1994-07-21 00:00:00,279,1901-07-15 00:00:00,1999-11-16 00:00:00,150758,129536
SADA_DOB,datetime64[ns],13,1964-04-24 00:00:00,6182,1901-05-01 00:00:00,1971-09-16 00:00:00,18340,261954
DOB,datetime64[ns],19761,1977-01-28 00:00:00,194,1900-01-10 00:00:00,1999-09-01 00:00:00,275354,4940
SCREENING_DISP_DATE,datetime64[ns],3968,1998-02-02 00:00:00,338,1968-07-29 00:00:00,1999-11-16 00:00:00,244845,35449
SADA_BAR_ADMISSION,datetime64[ns],83,1991-10-11 00:00:00,29567,1905-06-14 00:00:00,1999-04-23 00:00:00,236998,43296

In [30]:
non_date_numeric = ['DFDN_SEQ_NBR', 'SYS_NBR', 'POLICE_RPT_DAYS', 'SCREENING_DAYS']

In [31]:
pe.getDfSummary(numeric[non_date_numeric]).transpose()

                DFDN_SEQ_NBR      SYS_NBR POLICE_RPT_DAYS SCREENING_DAYS
type                   int64        int64           int64          int64
mean                 1.09777  9.41778e+07         32.2581        15.1287
std                 0.483895  3.47024e+06         66.1617        34.3819
min                        1      8.4e+07               0              0
25%                        1  9.11091e+07               3              0
50%                        1  9.41751e+07              13              5
75%                        1   9.7242e+07              34             16
max                       27  9.93092e+07             999            997
number_distinct           27       261268             898            526
valid_count           280294       280294          280294         280294
number_nan                 0            0               0              0