In [1]:
import numpy as np
import pandas as pd

In [2]:
data_simple = pd.read_csv('data_simple.csv', encoding = "ISO-8859-1", low_memory=False, index_col=0)

In [8]:
def getDfSummary(input_data):
    summary = input_data.describe().transpose()
    summary = summary.drop(['count'], axis=1)

    number_distinct = input_data.unstack().groupby(level=0).nunique(dropna=True)
    number_distinct.name = "number_distinct"

    number_nan = input_data.isnull().sum()
    number_nan.name = "number_nan"
    
    data_type = input_data.dtypes
    data_type.name = "type"

    output_data = pd.concat([data_type,summary, number_distinct, number_nan], axis=1)

    
    return output_data

getDfSummary(data_simple)

,type,mean,std,min,25%,50%,75%,max,number_distinct,number_nan
AREG_SEQ_NBR,int64,1.000000e+00,0.000000e+00,1.0,1.00,1.0,1.00,1.0,1,0
ARREST_CREDIT_CODE,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,133502
ARREST_DATE,float64,1.955671e+07,2.748079e+06,0.0,19910830.00,19941025.0,19970731.00,19991115.0,4259,129315
BOFI_NBR,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124848,1
CHARGE_CAT,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16,229739
CHARGE_CLASS,float64,3.328816e+00,8.820815e-01,1.0,3.00,3.0,4.00,8.0,8,131749
CHARGE_TYPE,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,129846
CRIMINAL_FLAG,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0
DFDN_SEQ_NBR,int64,1.097765e+00,4.838954e-01,1.0,1.00,1.0,1.00,27.0,27,0
DOB,int64,1.934283e+07,2.580123e+06,0.0,19610130.00,19701029.0,19770817.00,19990901.0,19779,0
FBI_NBR,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30337,172823
FINAL_DETENTION_FLAG,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,129315
HABITUAL_OFFENDER_FLAG,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,174861
INITIAL_DETENTION_FLAG,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,140232
JUVENILE_FLAG,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,0
LEAD_CHARGE_CODE,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,795,129841
NAME,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106202,0
POLICE_RPT_DATE,int64,1.712800e+07,6.946953e+06,0.0,19900821.00,19940520.0,19970624.00,19991116.0,3770,0
POLICE_RPT_DAYS,int64,3.225809e+01,6.616166e+01,0.0,3.00,13.0,34.00,999.0,898,0
RACE,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,4821
RESTRICTED_FLAG,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0
SADA_ALT_PARTY,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,279300
SADA_BAR_ADMISSION,float64,1.989125e+07,6.791726e+04,19050614.0,19871009.00,19901005.0,19921016.00,19990423.0,87,30887
SADA_CODE,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302,27237
SADA_DOB,float64,1.960577e+07,8.182868e+04,19010501.0,19600000.00,19630000.0,19660000.00,19740000.0,64,36432
SADA_PARTY,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,56195
SADA_RACE,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,38901
SADA_SEX,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,28992
SCREENING_DAYS,int64,1.512875e+01,3.438189e+01,0.0,0.00,5.0,16.00,997.0,526,0
SCREENING_DISP_CODE,float64,2.383625e+02,1.018528e+01,17.0,230.00,240.0,240.00,560.0,17,35515
SCREENING_DISP_DATE,int64,1.742101e+07,6.628696e+06,0.0,19900614.00,19940216.0,19970516.00,19991116.0,3970,0
SEX,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,4775
SYS_NBR,int64,9.417777e+07,3.470239e+06,84000020.0,91109102.25,94175073.5,97242021.75,99309156.0,261268,0

In [13]:
#verify that 'BOFI_NBR','DFDN_SEQ_NBR','SYS_NBR', 'SADA_CODE', 'AREG_SEQ_NBR' uniquely identify this table
#each row represents an arrest
data_simple[data_simple.duplicated(['BOFI_NBR','DFDN_SEQ_NBR','SYS_NBR', 'SADA_CODE', 'AREG_SEQ_NBR'],keep=False)]

Empty DataFrame
Columns: [SADA_CODE, AREG_SEQ_NBR, BOFI_NBR, DFDN_SEQ_NBR, SCREENING_DISP_CODE, SYS_NBR, POLICE_RPT_DATE, POLICE_RPT_DAYS, SCREENING_DAYS, SCREENING_DISP_DATE, ARREST_CREDIT_CODE, ARREST_DATE, CHARGE_CAT, CHARGE_CLASS, CHARGE_TYPE, HABITUAL_OFFENDER_FLAG, FINAL_DETENTION_FLAG, INITIAL_DETENTION_FLAG, LEAD_CHARGE_CODE, SADA_BAR_ADMISSION, SADA_DOB, SADA_RACE, SADA_SEX, SADA_PARTY, SADA_ALT_PARTY, NAME, RESTRICTED_FLAG, JUVENILE_FLAG, CRIMINAL_FLAG, FBI_NBR, DOB, SEX, RACE]
Index: []

[0 rows x 33 columns]

In [17]:
data_simple['CHRG_ACCEPTED'] = np.where(data_simple['SCREENING_DISP_CODE']==230,1,0)
data_simple['CHRG_REJECTED'] = np.where(data_simple['SCREENING_DISP_CODE']!=230,1,0)

In [37]:
by_sada = data_simple.groupby(['SADA_CODE'])['CHRG_ACCEPTED','CHRG_REJECTED'].sum()

In [38]:
by_sada['CHRG_RATE'] = by_sada['CHRG_ACCEPTED']/(by_sada['CHRG_ACCEPTED'] + by_sada['CHRG_REJECTED'] )

In [39]:
by_sada

           CHRG_ACCEPTED  CHRG_REJECTED  CHRG_RATE
SADA_CODE
ABAL                   1              0   1.000000
ADAI                 190            771   0.197711
ADIC                 179            490   0.267564
AELS                   6              0   1.000000
AGOU                   2              0   1.000000
AGRN                   5              0   1.000000
AGUS                   2              0   1.000000
AJEA                  16              0   1.000000
ALAM                   0             67   0.000000
ALMB                 100            109   0.478469
ALOG                 649           1219   0.347430
ALON                  22             26   0.458333
AMON                 481            996   0.325660
ANEE                   1              1   0.500000
ANEL                 124            215   0.365782
AOLI                  31             12   0.720930
AWAL                 595           1114   0.348157
AWAT                   7              4   0.636364
AWHI                   6              1   0.857143
BAUG                  97             27   0.782258
BBER                2011            896   0.691778
BDEA                1168           1394   0.455894
BFRE                  35             15   0.700000
BLAN                  20           1546   0.012771
BMAR                   1              1   0.500000
BMCM                1449            878   0.622690
BNAC                 629            908   0.409239
BRES                   1              0   1.000000
BTRE                 143            157   0.476667
BWHI                   0              1   0.000000
...                  ...            ...        ...
SHUB                   1              1   0.500000
SJEN                 507            671   0.430390
SJOA                 569            430   0.569570
SOZD                   4              1   0.800000
SPEA                  55            189   0.225410
SRIC                2241           3349   0.400894
SSCI                1662           1398   0.543137
SSMI                 146            211   0.408964
SWOO                   5            125   0.038462
TBLO                 432            637   0.404116
TEST                  57             13   0.814286
TFAI                6423          10671   0.375746
TGRE                   0             29   0.000000
TGUI                   5              0   1.000000
TMCE                   3              6   0.333333
TSCH                   3              0   1.000000
TSHA                 188            541   0.257888
TSTE                   6              3   0.666667
TTAM                   1              0   1.000000
TTHO                   1              0   1.000000
VCIM                  24             11   0.685714
VPAP                   0              1   0.000000
VSAL                   0             11   0.000000
VSOL                 619            961   0.391772
WBAL                   4              0   1.000000
WEIK                 261            797   0.246692
WRIP                   1              2   0.333333
YBOL                1550           2447   0.387791
YCAR                   9              6   0.600000
YKIN                   3              1   0.750000

[302 rows x 3 columns]