In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [15]:
os.chdir("/Users/carolineroper/Documents/School/Machine Learning/Reset_Project/noda")

In [6]:
import project_env as pe

In [43]:
#bring in BOFI_NBR, SCREENING_DISP_CODE
data_simple = pd.read_csv('data_processing/output/data_simple.csv', encoding = "ISO-8859-1", low_memory=False)
data_simple = data_simple[['SCREENING_DISP_CODE','UNIQUE_ID','BOFI_NBR']]

In [44]:
data_simple.head()

   SCREENING_DISP_CODE  UNIQUE_ID BOFI_NBR
0                  NaN          0   255544
1                  NaN          1   257683
2                  NaN          2   255696
3                  NaN          3   251021
4                  NaN          4   246712

In [46]:
bin_features = pd.read_csv('data_processing/output/df_bin_features.csv', encoding = "ISO-8859-1", low_memory=False)
num_features = pd.read_csv('data_processing/output/df_num_features.csv', encoding = "ISO-8859-1", low_memory=False)
date_features = pd.read_csv('data_processing/output/df_date_features.csv', encoding = "ISO-8859-1", low_memory=False) \
                            .drop('JUVENILE_FLAG',axis=1)
cat_features = pd.read_csv('data_processing/output/df_cat_features.csv', encoding = "ISO-8859-1", low_memory=False)
rearrest = pd.read_csv('data_processing/output/df_rearrest_times.csv', encoding = "ISO-8859-1", low_memory=False)

print('bin_features: %s' %(str(rearrest.shape)))
print('num_features: %s' %(str(num_features.shape)))
print('date_features: %s' %(str(date_features.shape)))
print('cat_features: %s' %(str(cat_features.shape)))
print('rearrest: %s' %(str(rearrest.shape)))

bin_features: (269543, 2)
num_features: (280294, 5)
date_features: (272088, 21)
cat_features: (280294, 8)
rearrest: (269543, 2)

In [47]:
merged = pd.merge(rearrest, \
                 bin_features,\
                 on='UNIQUE_ID', \
                 how='left')
merged = pd.merge(merged, \
                 num_features,\
                 on='UNIQUE_ID', \
                 how='left')
merged = pd.merge(merged, \
                 date_features,\
                 on='UNIQUE_ID', \
                 how='left')
merged = pd.merge(merged, \
                 cat_features,\
                 on='UNIQUE_ID', \
                 how='left')
merged = pd.merge(merged, \
                 data_simple,\
                 on='UNIQUE_ID', \
                 how='left')

In [48]:
merged.to_csv('merged_pj.csv', index=False)

In [49]:
merged.columns

Index(['UNIQUE_ID', 'NEXT_ARREST_TIME', 'CRIMINAL_FLAG',
       'FINAL_DETENTION_FLAG', 'HABITUAL_OFFENDER_FLAG',
       'INITIAL_DETENTION_FLAG', 'JUVENILE_FLAG', 'SADA_SEX', 'SEX',
       'TOT_NUM_DEF', 'MULTIPLE_DEF_FLAG', 'SCREENING_DAYS', 'POLICE_RPT_DAYS',
       'POLICE_RPT_DATE', 'ARREST_DATE', 'DOB', 'SCREENING_DISP_DATE',
       'BAR_ADMISSION', 'POLICE_RPT_DATE_y', 'ARREST_DATE_y', 'DOB_y',
       'SCREENING_DISP_DATE_y', 'BAR_ADMISSION_y', 'POLICE_RPT_DATE_m',
       'ARREST_DATE_m', 'DOB_m', 'SCREENING_DISP_DATE_m', 'BAR_ADMISSION_m',
       'AGE', 'BAR_ADMIT_DAYS', 'ARREST_TO_SCREEN', 'AGE_NA',
       'AGE_JUV_INVALID', 'ARREST_CREDIT_CODE', 'CHARGE_CLASS', 'CHARGE_TYPE',
       'LEAD_CHARGE_CODE', 'PARTY', 'RACE', 'SADA_RACE', 'SCREENING_DISP_CODE',
       'BOFI_NBR'],
      dtype='object')

In [50]:
cols = ['UNIQUE_ID', 'NEXT_ARREST_TIME', 'ARREST_DATE', 'ARREST_DATE_y','BOFI_NBR','SCREENING_DISP_CODE',\
        'BAR_ADMIT_DAYS','CRIMINAL_FLAG', \
        'FINAL_DETENTION_FLAG', 'HABITUAL_OFFENDER_FLAG', \
        'INITIAL_DETENTION_FLAG', 'JUVENILE_FLAG', 'SADA_SEX', \
        'SEX', 'TOT_NUM_DEF', 'MULTIPLE_DEF_FLAG', 'SCREENING_DAYS', \
        'SCREENING_DISP_DATE_y', \
        'SCREENING_DISP_DATE_m', 'AGE', 'ARREST_TO_SCREEN', \
        'CHARGE_CLASS', 'CHARGE_TYPE', 'PARTY', 'RACE', \
        'SADA_RACE','AGE_JUV_INVALID','AGE_NA']

merged = merged[cols]

In [51]:
merged.to_csv('merged_pj.csv',index=False)

In [52]:
#identify arrests where at least one charge was accepted
accepted = merged[merged['SCREENING_DISP_CODE']==230][['BOFI_NBR','ARREST_DATE']]

In [67]:
#identify arrests where at least one charge was accepted
accepted = merged[merged['SCREENING_DISP_CODE']==230][['BOFI_NBR','ARREST_DATE']]

#drop rows where at least one charge was accepted during that arrest
classified = pd.merge(merged, \
                 accepted, \
                 on=['BOFI_NBR','ARREST_DATE'], \
                 how='outer',\
                 indicator = True)

classified['ACCEPTED'] = np.where(classified['_merge']=='both', 1, 0)

classified = classified.drop('_merge', axis=1)

#remove duplicate arrests on same day
#confirmed that it's possible that an arrest has at least one charge was accepted and is still flagged as "delete"
classified = classified[classified['NEXT_ARREST_TIME']!='Delete']

#convert NEXT_ARREST_TIME to numeric
classified['NEXT_ARREST_TIME'] = classified['NEXT_ARREST_TIME'].apply(pd.to_numeric)

In [65]:
#pd.pivot_table(classified, index = ['NEXT_ARREST_TIME'], columns=['ACCEPTED'], aggfunc=lambda x: len(x.unique()))

In [68]:
classified.head()

,UNIQUE_ID,NEXT_ARREST_TIME,ARREST_DATE,ARREST_DATE_y,BOFI_NBR,SCREENING_DISP_CODE,BAR_ADMIT_DAYS,CRIMINAL_FLAG,FINAL_DETENTION_FLAG,HABITUAL_OFFENDER_FLAG,...,AGE,ARREST_TO_SCREEN,CHARGE_CLASS,CHARGE_TYPE,PARTY,RACE,SADA_RACE,AGE_JUV_INVALID,AGE_NA,ACCEPTED
1,5183,0,1988-01-03,1988.0,290600,NaN,1952,0,0,0,...,10141,0,4.0,IF,NaN,W,NaN,0,0,0
2,5073,3209,1988-01-03,1988.0,290588,NaN,1952,1,0,0,...,6773,0,3.0,IF,NaN,B,NaN,0,0,0
3,104025,1794,1988-01-03,1988.0,220453,NaN,1952,1,0,0,...,9994,0,3.0,IF,NaN,B,NaN,0,0,0
4,18252,516,1988-01-03,1988.0,J78755,230.0,1952,0,0,0,...,5840,367,3.0,IF,NaN,B,W,0,0,1
5,6411,0,1988-01-03,1988.0,X010116,230.0,2284,0,0,0,...,11751,158,4.0,IF,O,NaN,W,0,1,1

In [ ]:
#how will we split training, validation now that there are more records?
#How do I know that this will put all the old training ones into the training set?

In [91]:
#two rounds of splits so predicted judge training set includes all training records from risk prediction model and so on.

test_ne_1, train_ne_1, val_ne_1 = pe.split_data(classified[classified['ACCEPTED']==0], test_split=.2, \
                                 train_split=.64, by_var='ARREST_DATE_y', random_state=1)

test_ne_2, train_ne_2, val_ne_2 = pe.split_data(classified[classified['ACCEPTED']==1], test_split=.2, \
                                 train_split=.64, by_var='ARREST_DATE_y', random_state=1)

test_ne = pd.concat([test_ne_1, test_ne_2],axis=0)
train_ne = pd.concat([train_ne_1, train_ne_2],axis=0)
val_ne = pd.concat([val_ne_1, val_ne_2],axis=0)

Test Data 25068
(100272, 29)
Val Data 20055
Train Data 80217
Test Data 21078
(84308, 29)
Val Data 16862
Train Data 67446

In [92]:
train_ne.to_csv('data_train_pj.csv', index=False)
test_ne.to_csv('data_test_pj.csv', index=False)
val_ne.to_csv('data_val_pj.csv', index=False)

In [93]:
cat_var = ['SADA_SEX', 'SEX', 'PARTY', 'RACE', 'SADA_RACE', \
           'SCREENING_DISP_DATE_y', 'SCREENING_DISP_DATE_m', 'CHARGE_TYPE', \
           'CHARGE_CLASS', 'ARREST_DATE_y']

cat_var_enc = pe.one_hot_encode(refused[cat_var])
cat_var_enc = pd.DataFrame(cat_var_enc.toarray(), index=refused.index)

refused_enc = refused.drop(cat_var[:-1], axis=1)
refused_enc = pd.merge(refused_enc, \
                       cat_var_enc,\
                       left_index=True, \
                       right_index=True, \
                       how='left')

In [94]:
#two rounds of splits so predicted judge training set includes all training records from risk prediction model and so on.

test_1, train_1, val_1 = pe.split_data(classified[classified['ACCEPTED']==0], test_split=.2, \
                                 train_split=.64, by_var='ARREST_DATE_y', random_state=1)

test_2, train_2, val_2 = pe.split_data(classified[classified['ACCEPTED']==1], test_split=.2, \
                                 train_split=.64, by_var='ARREST_DATE_y', random_state=1)

test = pd.concat([test_1, test_2],axis=0)
train = pd.concat([train_1, train_2],axis=0)
val = pd.concat([val_1, val_2],axis=0)

Test Data 25068
(100272, 29)
Val Data 20055
Train Data 80217
Test Data 21078
(84308, 29)
Val Data 16862
Train Data 67446

In [97]:
train.to_csv('train_pj.csv',index=False)
val.to_csv('val_pj.csv',index=False)
test.to_csv('test_pj.csv', index=False)